<h1>{{ title }}</h1>
<ul>
  <li><a href="/flight/listing">Go to Flight Listing</a></li>
  <li><a href="/flight/traveller">Go to Traveller Details</a></li>
  <li><a href="/flight/confirmation">Go to Booking Confirmation</a></li>
</ul>
